* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(21, 228, 52);
    background: linear-gradient(#cb00f9, #8447e5);
}

.contanier {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h2 {
    font-size: 2.4em;
    color: rgb(255, 255, 255);
    margin: 15px 0;
}

.i {

    outline: 1px solid;
    border-radius: 90%;
    z-index: 2;
}


.buttons {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 20px;
}

.yes,
.no {
    position: absolute;
    background-color: #017cff;
    color: white;
    font-weight: 600;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
    border-radius: 12px;
    transition: background-color 0.3s ease;
    box-shadow: 0 1px 1px #8447e5;
}

.yes:hover {
    background-color: #ffffff;
    color: #017cff;
}

button:nth-child(1) {
    margin-left: -200px;
    background: rgb(42, 99, 255);
}

button:nth-child(2) {
    margin-right: -200px;
    background: rgb(42, 99, 255);
}